<ul>
  <% for place in @places %>
    <% if @current_user%>
      <li> <a href="/places/<%=place.id%>"> <%=place.name%> </a></li>
    <% else%>
      <li> <%=place.name%> </li>
    <% end %>
  <% end %>
</ul>

<!--TESTING:
 <p> There are <%= @places.size%> places </p>
-->
<% if  @current_user %>
  <p>  <a href="/places/new">New place</a> </p>
<% else %>
  <p> Login to see and add a new place. </p>
<% end %>
  

<p>
  <a href="/places">Refresh</a>
</p>