<h1>Shoe's Places</h1>

<ul>
  <% for place in @places %>
    <li> <a href="/places/<%=place.id%>"> <%=place.name%> </a></li>
  <% end %>
</ul>

<!-- 
 <p> There are <%= @places.size%> places </p>
-->

  <a href="/places/new">New place</a>
</p>

<p>
  <a href="/places">Refresh</a>
</p>