<div class="row">
  <div class="col-md-4 offset-md-1">
<% if  @current_user %>
  <a class="btn btn-primary" href="/places/new" role="button">New Place</a>
<% else %>
  <p> Login to see and add a new place. </p>
<% end %>
    <ul>
      <% for place in @places %>
        <% if @current_user%>
          <li> <a href="/places/<%=place.id%>"> <%=place.name%> </a></li>
        <% else%>
          <li> <%=place.name%> </li>
        <% end %>
      <% end %>
      </ul>
<p>
  <a href="/places">Refresh</a>
</p>
  </div>
</div>

<!--TESTING:
 <p> There are <%= @places.size%> places </p>
-->

  

