<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash[:notice] %>
    </div>
    <div>
      <a href="/">Home</a>
      <%#= button_to "Logout", "/sessions/logout", method: :delete %>
      <a href="/sessions/new">Login</a>
      <a href="/users/new">Signup</a>
    </div>

    <%= yield %>
  </body>
</html>
